:root {
	--container-width: 1718px;
	--container-padding: 15px;

	--font-main: 'Jost' ,sans-serif;
	--font-accent: 'Jost', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;
	--link-color: #2578c8;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

	//Сolors
	--f6623e: #f6623e;
	--454545: #454545;
	--9d9d9d: #828181;
	--ffffff: #fff;
	--000000: #000;
	--fff8f6: #fff8f6;

	//Fonts
	--font-family: "Jost", sans-serif;
	--second-family: "Montserrat", sans-serif;
	--third-family: "Work Sans", sans-serif;
	
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}