.card__picture {
    margin-bottom: 23px;
}

.card__title {
    text-align: center;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: var(--000000);
}
