.good4me {
    margin-top: 119px;
}

.good4me__title {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 89%;
    color: var(--000000);
}

.good4me__row {
    margin-top: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}